<a href="https://colab.research.google.com/github/DevRichan/Python-for-Data-Science/blob/master/List%2C_tuple%2C_Set_ipnyb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. List**
 - Mutable (dapat di rubah isinya)

In [ ]:
myList = [1,2,3,"maybe"]
print(myList[1])
myList[1] = "uwu"
print(myList[1])

# view all
idx = 0 
for listm in myList:
  idx += 1
  print(idx,'.',listm)

2
uwu
1 . 1
2 . uwu
3 . 3
4 . maybe

**2. Tuple**
  - Immutable (tidak dapat dirubah isinya)

In [ ]:
myTuple = (1,2,3,4,90,'uwu')
# myTuple[1] = 3
print(myTuple[1])

#view all
idx = 0
for tp in myTuple:
  idx += 1 
  print(idx, ' . ', tp)

2
1  .  1
2  .  2
3  .  3
4  .  4
5  .  90
6  .  uwu

**3. Set**
- Berbeda dengan tipe data set, tipe data list memperdulikan urutan dari setiap elemen saat list dideklarasikan.
- Berbeda dengan list yang mengizinkan adanya duplikasi elemen, tipe data set tidak mengizinkan adanya elemen dengan nilai yang sama di dalamnya.

In [ ]:
mySet = {1,2,3,4,5,"six","seven"}
#print(mySet[1]) #notsupport
#mySet[1] = 3 #not support
print(mySet)
index = 0
for mset in mySet:
  index += 1
  print(index,'.',mset)

{1, 2, 3, 4, 5, 'seven', 'six'}
1 . 1
2 . 2
3 . 3
4 . 4
5 . 5
6 . seven
7 . six