<a href="https://colab.research.google.com/github/DevRichan/Python-for-Data-Science/blob/master/Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tagihan = [50000, 75000, 125000, 300000, 200000]
total_tagihan = tagihan[0] + tagihan[1] + tagihan[2] + tagihan[3] + tagihan[4]
print(total_tagihan)

750000

**1. While Loops**

In [ ]:
 i = 0
 total_tagihan2 = 0
 iterasi = len(tagihan)
 while i < iterasi:
   total_tagihan2 += tagihan[i]
   i+=1
print(total_tagihan2)

750000

In [ ]:
#dihentikan jika ada angka minus
tagihan3 = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
i = 0
it = len(tagihan3)
total_tagihan3 = 0

while i < it:
  if (tagihan3[i] >= 0):
    total_tagihan3 += tagihan3[i]
  else:
    total_tagihan3 = total_tagihan3
  i +=1

print(total_tagihan3)

# Break condition
# #dihentikan jika ada angka minus
# tagihan3 = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
# i = 0
# it = len(tagihan3)
# total_tagihan3 = 0

# while i < it:
#   if tagihan2[i] < 0:
#     total_tagihan3 = -1
#     print("Terdapat angka minus")
#     break
#   total_tagihan3 += tagihan3[i]
#   i+=1
# print(total_tagihan3)

750000

In [ ]:
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < jumlah_tagihan:
  if tagihan[i] < 0:
    i=i+1
    continue
  total_tagihan += tagihan[i]
  i+=1
print(total_tagihan)

750000

**2. FOR LOOPS**

In [ ]:
# list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
# total_tagihan = 0
# for tagihan in list_tagihan:
#     if tagihan < 0:
#         print("terdapat angka minus dalam tagihan, perhitungan dihentikan!")
#         break
#     total_tagihan += tagihan
# print(total_tagihan)

list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

for tgh in list_tagihan:
  if tgh > 0 :
    total_tagihan += tgh
  else:
    total_tagihan = total_tagihan
    break
print(total_tagihan)

125000

In [ ]:
#nested loop

list_daerah = ['Malang', 'Palembang', 'Medan']
list_buah = ['Apel', 'Duku', 'Jeruk']

for daerah in list_daerah:
  for buah in list_buah:
    print(daerah, buah)

Malang Apel
Malang Duku
Malang Jeruk
Palembang Apel
Palembang Duku
Palembang Jeruk
Medan Apel
Medan Duku
Medan Jeruk