<a href="https://colab.research.google.com/github/DevRichan/Python-for-Data-Science/blob/master/Operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. OPERATOR**

In [4]:
 #Pangkat
 pangkat = 3**2
 print(pangkat)

 #Pembagian
 pembagian = 3/2
 pembagian_pembulatan_kebawah = 3//2
 print(pembagian)
 print(pembagian_pembulatan_kebawah)

 #Modulo
 mod = 8 % 2
 mod2 = 3 % 2
 print(mod)
 print(mod2)

9
1.5
1
0
1

**2. LOOP OPERATOR**

In [13]:
myList = [10,20,30,10]

total = 0
#penambahan
for pnb in myList:
  total += pnb
print(total)

total2 = 0
#pengurangan
for png in myList:
  total2 -= png
print(total2)

total3 = 1 
#perkalian
for pkl in myList:
  total3 *= pkl
print(total3)

# other operator
# /=
# //=
# %=
# **=

70
-70
60000

**3. Identity Operator**

In [32]:
# is (Menerima dua buah objek dan mengembalikan nilai True ketika keduanya merujuk pada objek yang sama dan False dalam kondisi lainnya)
# is not (kebalikan)
x = ["Ricki","Chandra"]
y = ["Ricki","Chandra"] 
a = x
print (x is a)
print (x is y)
print (x is not a)
print (x is not y)
# biasa digunakan dengan fungsi type
x2 = 10
print(type(x2) is int)


# in
# not in
xx = ["Ricki","Chandra","Hidayatullah"]
yy = "Ricki"
zz = "Palaguna"

print(yy in xx)
print(zz in xx)

True
False
False
True
True
True
False