<a href="https://colab.research.google.com/github/DevRichan/Python-for-Data-Science/blob/master/Tugas_Praktek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. praktek 1**

In [ ]:
sepatu = { "nama" : "Sepatu Niko", "harga": 150000, "diskon": 30000 }
baju = { "nama" : "Baju Unikloh", "harga": 80000, "diskon": 8000 }
celana = { "nama" : "Celana Lepis", "harga": 200000, "diskon": 60000 }
harga_sepatu = sepatu["harga"] - sepatu["diskon"]
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
total_harga = (harga_sepatu + harga_baju + harga_celana) * 1.1 
print(total_harga)

**2. praktek 2**

In [ ]:
# Statement if
x = 4
if x % 2 == 0: # jika sisa bagi x dengan 2 sama dengan 0
    print("x habis dibagi dua") # statemen aksi lebih menjorok ke dalam
# Statement if ... elif ... else
x = 7
if x % 2 == 0: # jika sisa bagi x dengan 2 sama dengan 0
    print("x habis dibagi dua")
elif x % 3 == 0: # jika sisa bagi x dengan 3 sama dengan 0
    print("x habis dibagi tiga")
elif x % 5 == 0: # jika sisa bagi x dengan 5 sama dengan 0
    print("x habis dibagi lima")
else:
    print("x tidak habis dibagi dua, tiga ataupun lima")

**3. praktek 3**

In [ ]:
jam = 17
tagihan_ke = 'Mr. Yoyo'
warehousing = { 'harga_harian': 1000000, 'total_hari':15 } 
cleansing = { 'harga_harian': 1500000, 'total_hari':10 } 
integration = { 'harga_harian':2000000, 'total_hari':15 } 
transform = { 'harga_harian':2500000, 'total_hari':10 }
sub_warehousing = warehousing['harga_harian']*warehousing['total_hari'] 
sub_cleansing = cleansing['harga_harian']*cleansing['total_hari'] 
sub_integration = integration['harga_harian']*integration['total_hari'] 
sub_transform = transform['harga_harian']*transform['total_hari']
total_harga = sub_warehousing+sub_cleansing+sub_integration+sub_transform
print("Tagihan kepada:")
print(tagihan_ke)
if jam > 19 :
    print("Selamat malam, anda harus membayar tagihan sebesar:")
elif jam > 17:
    print("Selamat sore, anda harus membayar tagihan sebesar:") 
elif jam > 12:
    print("Selamat siang, anda harus membayar tagihan sebesar:")
else:
    print("Selamat pagi, anda harus membayar tagihan sebesar:") 
print(total_harga)

**4. Praktek 4**

In [ ]:
list_cash_flow = [
2500000, 5000000, -1000000, -2500000, 5000000, 10000000,
-5000000, 7500000, 10000000, -1500000, 25000000, -2500000
]

total_pemasukan = 0
total_pengeluaran = 0

for dana in list_cash_flow:
  if dana > 0 :
    total_pemasukan += dana
  else:
    total_pengeluaran += dana

total_p = total_pengeluaran * -1
print(total_pemasukan)
print(total_p)

65000000
12500000

**5. Praktek 5**

In [7]:
uang_jalan = 1500000
jumlah_hari = 31
list_plat_nomor = [8993, 2198, 2501, 2735, 3772, 4837, 9152]
list_ganjil = 0
list_genap = 0

#hitung plat ganjil dan genap

for plt in list_plat_nomor:
  if plt % 2 == 0:
    list_genap += 1
  else:
    list_ganjil += 1   

i = 1
jumlah_tagihan_ganjil = 0
jumlah_tagihan_genap = 0
total_tagihan = 0
while i <= jumlah_hari:
  if i % 2 == 0 :
    jumlah_tagihan_genap += (uang_jalan * list_genap) 
  else:
    jumlah_tagihan_ganjil += (uang_jalan * list_ganjil)
  i=i+1

print("Jumlah plat nomor genap = ", list_genap)
print("Jumlah plat nomor ganjil = ",list_ganjil)
print("Jumlah tagihan genap = ", jumlah_tagihan_genap)
print("Jumlah tagihan ganjil = ", jumlah_tagihan_ganjil)
print("Total tagihan = ", jumlah_tagihan_ganjil + jumlah_tagihan_genap)

Jumlah plat nomor genap =  3
Jumlah plat nomor ganjil =  4
Jumlah tagihan genap =  67500000
Jumlah tagihan ganjil =  96000000
Total tagihan =  163500000